body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1;
}

a {
  color: inherit;
}

.react-spinner {
  width: 64px;
  height: 64px;
}

.react-spinner_bar {
  background: #000;
}
